Should Alamofire remove Content-Type header in GET requests ?

Hi,

I know some old issues are about Content-Type header, but all seems to be about adding it or checking content.
My problem is that Content-Type is not accepted by the server when I do a GET request and returns an HTTP 500 error.
Infact, looking at the HTTP [RFC2616 section 7.2.1](https://www.w3.org/Protocols/rfc2616/rfc2616-sec7.html) it says that Content-Type SHOULD be added when a content (aka a body) is sent.

As this is never the case in a GET request, shouldn't Alamofire remove the Content-Type header for GET requests ?
Also, I work with Android on the same app and libs like OKHttp seems to remove it automatically in GET requests.

It depends on the `RequestEncoding` that you're using. If you're using `JSONEncoding` with a `GET` request, your parameters are being encoded into the `bodyData` as `JSON`, which sets the `Content-Type` header. If that's not the behavior your server expects, change `ParameterEncoding` you're using for those requests.

I don't get it... GET method is not intended to have a body. Or at least, the body MUST NOT be taken in account. (see http://stackoverflow.com/a/983458/1829444)
So I really don't see any case where some would need to set a JSON string as body of a GET request. 

**However, the point of my issue was not about putting data in the body of a GET request or not, but only about the fact that if a GET request have no body data, the Content-Type header should be deleted from the request as this is the case using other libs.**