head :no_content (204 status code) returns error

Looks like Alamofire isn't supporting 204 status code or is not able to parse the response. I tried `.response` and .`responseString` without any success.

Thanks

Hi @allaire, any chance you could provide some additional information (code sample or Github project) or even better, a set of tests that reproduce the issue and submit a PR?

Hi @cnoon, thanks for the quick reply!

I'm currently using a Rails API, returning `head :no_content` on a DELETE endpoint, which returns the following error:

```
Optional(<NSHTTPURLResponse: 0x7fbd33666d60> { URL: http://192.168.0.196:5060/api/organizations/6295710d-03c9-427a-b1d2-8e12951c4238/requests/878166fb-1bdc-4962-9218-71b306c82da0 } { status code: 204, headers {
    "Cache-Control" = "no-cache";
    "Set-Cookie" = "request_method=DELETE; path=/, locale=ImZyLUNBIg%3D%3D--f4c51516b9f7125f95cb9ca87028fc996c54dc42; path=/; expires=Tue, 05 Jun 2035 13:34:38 -0000, session_updated_at=8597778371; path=/, XSRF-TOKEN=Ya6GOlesHxBTSTsPrntco8BazpeZhe0%2Fce0xjcU8M8B7K1ytZn%2BIzmWMHbkUy1lVQ%3D%3D; path=/, _my_session=RzMyN0s5Z2Z3S2xadVMrYUZTalcyMVVGZ084bFFMR2hvc1FibTBLU1U4bVd5YUN6Y0VkOWhqV1FSSGdNU01WRG40RGptM1pWWFdvb3RZRldJdXArQUpCSUtXMEkrcFNIZzVYak8weTlLTXpM%3D--98831ed1e111854eabd6b3189ab79a2e5f807bc1; path=/; HttpOnly";
    "X-Content-Type-Options" = nosniff;
    "X-Frame-Options" = SAMEORIGIN;
    "X-Meta-Request-Version" = "0.3.4";
    "X-Request-Id" = "c30e4b82-889e-4d78-b7bd-5546bed20ad3";
    "X-Runtime" = "0.259388";
    "X-XSS-Protection" = "1; mode=block";
} })
null
Optional(Error Domain=com.alamofire.error Code=-1 "The operation couldn’t be completed. (com.alamofire.error error -1.)")
```

Here my request code:

```swift
                Alamofire.request(Router.CancelRequest(organizationId: myRequest.organizationId, id: myRequest.id)).validate().responseJSON { (request, response, json, error) in
                    if error != nil {
                        ProgressHUDManager.serverError()
                        println(response)
                        println(json)
                        println(error)
                    } else {
                        self.myRequests.removeAtIndex(indexPath.row)
                        
                        tableView.beginUpdates()
                        tableView.deleteRowsAtIndexPaths([indexPath], withRowAnimation: UITableViewRowAnimation.Automatic)
                        tableView.endUpdates()
                    }
                }
```

Note that when returning `head :ok` via Rails returns no errors and works, maybe because it returns a status code 200 with a space in the body (http://stackoverflow.com/questions/12407328/rails-head-ok-interpreted-as-ajaxerror).

head no_content (204 status with no body) seems like it's now the way to go.

Any chance you could also throw up the output of `debugPrintln(request)` on that request? That would make it much easier to debug. My initial guess is that you are failing the response validation due to the `Accept` header not matching.

```
                        debugPrintln(request)
                        debugPrintln(response)
                        debugPrintln(error)
```

```
<NSMutableURLRequest: 0x7fe9bb1a0060> { URL: http://192.168.0.196:5060/api/organizations/6295710d-03c9-427a-b1d2-8e12951c4238/requests/5eef6806-3a29-4c73-88f1-16b3b3e5e71a }
Optional(<NSHTTPURLResponse: 0x7fe9bb0310b0> { URL: http://192.168.0.196:5060/api/organizations/6295710d-03c9-427a-b1d2-8e12951c4238/requests/5eef6806-3a29-4c73-88f1-16b3b3e5e71a } { status code: 204, headers {
    "Cache-Control" = "no-cache";
    "Set-Cookie" = "request_method=DELETE; path=/, locale=ImVuLUNBIg%3D%3D--94055ba7447a3df85a4d06dca24b7dfa4148bede; path=/; expires=Tue, 05 Jun 2035 14:46:40 -0000, session_updated_at=7166550178; path=/, XSRF-TOKEN=7C4Klxu8WAesmOK4YglZY9srburOp7SBQwD4Xx2Tpw4JTP3dvr%2BbhdKMfh6Kx8HgP2Sw%3D%3D; path=/, _my_session=aVUtzUzFydGM3ODJQMTVoMyt0ZDkxQkhxWnZwNURmSEhkMFI1S3dmS2lyNWt3V0h2QkZDTE45Q1cyMUM0d1VHZ3FrQ1J1RHF1bHF4Um95cUlGMjA1ckxITTQxckZtMFBrNG84OXJTS01PQjcwVG0zNnBadmRhMTZoVHdDK0JxZnNhOFhOZWpxcmVpc1BnRCs4bm5QcmVlb1d2MUpEOUpGKzM3TEJBSFRqc3NJZmZ2c0VZQUgvNkNwUEgzQ2RHejJVUzk3VE9QaHErUUkrN3VydEFvUWw0dWxDczd2NlVhLzNrU08xNXBVUS9YYTN1TWt6TUlMTm9kOXV5Sk8xQWFXS1FiUzZQb29vejg9LS1YV255c0lUVWQ2SE44KzRPbS9mTEdnPT0%3D--eeb275d185f0b1ae5676e45ae73854030256e44b; path=/; HttpOnly";
    "X-Content-Type-Options" = nosniff;
    "X-Frame-Options" = SAMEORIGIN;
    "X-Meta-Request-Version" = "0.3.4";
    "X-Request-Id" = "506d-9227-4a83-85c4-19d293357726";
    "X-Runtime" = "0.180450";
    "X-XSS-Protection" = "1; mode=block";
} })
Optional(Error Domain=com.alamofire.error Code=-1 "The operation couldn’t be completed. (com.alamofire.error error -1.)")
```

@cnoon This output looks pretty much the same than my previous one!

@cnoon Anything I can do to help you hunt this bug?

Sorry about that @allaire, I should have been a bit more specific. Could you post the debug output for the original `Alamofire.Request`?

```swift
let request = Alamofire.request(Router.CancelRequest(organizationId: myRequest.organizationId, id: myRequest.id))
request.validate()
request.responseJSON { (request, response, json, error) in
    if error != nil {
        ProgressHUDManager.serverError()
        println(response)
        println(json)
        println(error)
    } else {
        self.myRequests.removeAtIndex(indexPath.row)

        tableView.beginUpdates()
        tableView.deleteRowsAtIndexPaths([indexPath], withRowAnimation: UITableViewRowAnimation.Automatic)
        tableView.endUpdates()
    }
}

debugPrintln(request)
```

@cnoon Woops! There you go:

```
$ curl -i \
  -X DELETE \
  -H "X-Authorization-Consumer-Token: xxxx-bc24-479f-b87a-xxxx" \
  -H "X-Authorization-Token: xxxx-0224-48c6-817a-xxxx" \
  -H "Accept-Language: en;q=1.0,fr;q=0.9,de;q=0.8,zh-Hans;q=0.7,zh-Hant;q=0.6,ja;q=0.5" \
  -H "Accept-Encoding: gzip;q=1.0,compress;q=0.5" \
  -H "User-Agent: ios/com.myapp.ios (1; OS Version 8.3 (Build 12F69))" \
  "http://192.168.1.188:5060/api/organizations/6295710d-03c9-427a-b1d2-8e12951c4238/requests/b7dababf-bc64-4ca8-950a-54ac07cdb921"
```

Without the `validate()`, I also get an error:

```
$ curl -i \
	-X DELETE \
	-H "X-Authorization-Consumer-Token: 943167ad-bc24-479f-b87a-9f2a200dbf28" \
	-H "X-Authorization-Token: 65f98ed3-0224-48c6-817a-582bd1cabb3c" \
	-H "Accept-Language: en;q=1.0,fr;q=0.9,de;q=0.8,zh-Hans;q=0.7,zh-Hant;q=0.6,ja;q=0.5" \
	-H "Accept-Encoding: gzip;q=1.0,compress;q=0.5" \
	-H "User-Agent: ios/com.agendrix.ios (1; OS Version 8.3 (Build 12F69))" \
	"http://192.168.1.188:5060/api/organizations/6295710d-03c9-427a-b1d2-8e12951c4238/requests/3364e39e-185d-43bd-9f5f-bd20441fa487"
Optional(Error Domain=NSCocoaErrorDomain Code=3840 "The operation couldn’t be completed. (Cocoa error 3840.)" (Invalid value around character 0.) UserInfo=0x7f97a29f6e50 {NSDebugDescription=Invalid value around character 0.})
Optional(<NSHTTPURLResponse: 0x7f97a29cbeb0> { URL: http://192.168.1.188:5060/api/organizations/6295710d-03c9-427a-b1d2-8e12951c4238/requests/3364e39e-185d-43bd-9f5f-bd20441fa487 } { status code: 500, headers {
    "Content-Length" = 208222;
    "Content-Type" = "text/html; charset=utf-8";
    "X-Request-Id" = "fdf1d2be-3552-4b01-8c74-dbc62881bced";
    "X-Runtime" = "1.330690";
} })
```

Looks to me that the response is coming back with a 500 status code. The error leads me to believe that the response is being parsed as JSON even though it is not. The `Content-Type` header is not `application/json` as it should be.

At this point, I would try to debug this further just using cURL or whatever HTTP client you're most familiar with. Once you have the service working exactly as you would expect, then I would try with Alamofire again.

I'm going to close this issue out as it looks to me that everything is working as expected. Best of luck!

Wich response block should I use? ResponseString? I'm pretty sure it crashes because it tries to parse it as json. 

If it is not a string or JSON, then you want `response`. If it is a string, then you most likely want `responseString`. If it is JSON, then you most likely want `responseJSON`. These are general guidelines for the common cases. You can certainly mix and match the various response serializers to meet your needs. I'd recommend carefully reading through the [Response Serialization](https://github.com/Alamofire/Alamofire#response-serialization) section of the README.

If you could direct all further questions to Stack Overflow it would be much appreciated. You'll have a much larger community to help you out there.

---

Instead of creating a support issue in Github, please open a question on [Stack Overflow](https://stackoverflow.com) and tag `Alamofire`. The Alamofire community is very helpful and supportive. Stack Overflow is the best place to get your question answered quickly and correctly.

---

From our [Contribution Guidelines](https://github.com/Alamofire/Alamofire/blob/master/CONTRIBUTING.md)

## Asking Questions

We don't use GitHub as a support forum. For any usage questions that are not specific to the project itself, please ask on [Stack Overflow](https://stackoverflow.com) instead. By doing so, you'll be more likely to quickly solve your problem, and you'll allow anyone else with the same question to find the answer. This also allows maintainers to focus on improving the project for others.

@cnoon Thanks for the explanation, but I think there's really an issue with Alamofire with a 204 no content. I was able to execute the cUrl code that `debugPrintln(request)` gave me, here's the output:

```
curl -i \
>   -X DELETE \
>   -H "X-Authorization-Consumer-Token: 943167ad-bc24-479f-b87a-9f2a200dbf28" \
>   -H "X-Authorization-Token: 17ea0cf1-33e6-49fd-841c-ae4b730414ae" \
>   -H "Accept-Language: en;q=1.0,fr;q=0.9,de;q=0.8,zh-Hans;q=0.7,zh-Hant;q=0.6,ja;q=0.5" \
>   -H "Accept-Encoding: gzip;q=1.0,compress;q=0.5" \
>   -H "User-Agent: ios/com.app.ios (1; OS Version 8.3 (Build 12F69))" \
>   "http://192.168.0.196:5060/api/organizations/d3613638-26e4-42c8-9ad5-22371fa5e8ff/requests/2463a56d-7c1c-4172-b42a-effbd4dca618"

HTTP/1.1 204 No Content
X-Frame-Options: SAMEORIGIN
X-XSS-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Cache-Control: no-cache
Set-Cookie: request_method=DELETE; path=/
Set-Cookie: locale=ImZyLUNBIg%3D%3D--f4c51516b9f7125f95cb9ca87028fc996c54dc42; path=/; expires=Thu, 14 Jun 2035 00:31:01 -0000
Set-Cookie: session_updated_at=7170708987; path=/
Set-Cookie: XSRF-TOKEN=bTrTufsdfsdsdfU3X6zgLOVW5OtGSb4iqmrybeKcjZ%2FcxE0%2BAinmnPUP70Cvee9FCIqcRHZCT5c9gVb6og%3D%3D; path=/
Set-Cookie: _app_session=cffffsfdsfffsdffsd%3D--326bc43e058a3cebffb19c155a2f808033c27dce; path=/; HttpOnly
X-Meta-Request-Version: 0.3.4
X-Request-Id: 7239e507-b81c-4eb0-bdcf-402c75b7994d
X-Runtime: 0.195868
```

I must have made a mistake when I copy/pasted the code above that returned an error 500 (maybe tried to delete twice the same object).

To be clear, the request goes trough correctly with Alamofire (the DELETE request is executed and my object is deleted). The problem (I think) is that Alamofire can't parse the response back correctly (just tried again with `.response` only, no success).

Here's the full code:

```swift
                let request = Alamofire.request(Router.CancelRequest(organizationId: myRequest.organizationId, id: myRequest.id)).validate().response { (request, response, data, error) in
                    println(data)
                    println(response)
                    println(error)
                    if error != nil {
                        ProgressHUDManager.serverError()
                    } else {
                       // ...
                    }
                }
                
                debugPrintln(request)
```

Console output:

```
$ curl -i \
  -X DELETE \
  -H "X-Authorization-Consumer-Token: 943167ad-bc24-479f-b87a-9f2a200dbf28" \
  -H "X-Authorization-Token: 17ea0cf1-33e6-49fd-841c-ae4b730414ae" \
  -H "Accept-Language: en;q=1.0,fr;q=0.9,de;q=0.8,zh-Hans;q=0.7,zh-Hant;q=0.6,ja;q=0.5" \
  -H "Accept-Encoding: gzip;q=1.0,compress;q=0.5" \
  -H "User-Agent: ios/com.app.ios (1; OS Version 8.3 (Build 12F69))" \
  "http://192.168.0.196:5060/api/organizations/d3613638-26e4-42c8-9ad5-22371fa5e8ff/requests/60c4036c-07b3-4b7a-8a83-21863644667b"
Optional(<>)
Optional(<NSHTTPURLResponse: 0x7fa648cf94a0> { URL: http://192.168.0.196:5060/api/organizations/d3613638-26e4-42c8-9ad5-22371fa5e8ff/requests/60c4036c-07b3-4b7a-8a83-21863644667b } { status code: 204, headers {
    "Cache-Control" = "no-cache";
    "Set-Cookie" = "request_method=DELETE; path=/, locale=ImZyLUNBIg%3D%3D--f4c51516b9f7125f95cb9ca87028fc996c54dc42; path=/; expires=Thu, 14 Jun 2035 00:41:14 -0000, session_updated_at=7170709600; path=/, XSRF-TOKEN=8i%2BrcB39cYx540VA88O5UpZrUx9hZLBUCFI19NWDWXnptlkYbEiCW%2Bd2T6klxcthlX8OIBeClFlufuP8TlEy2g%3D%3D; path=/, _app_session=RTNLUHl0blM2T005T0hkRTRGTHFsOFFsN251TktxZjlyNTBiQWhPTWdZa0x1V0J0Wk5JYllGbG9jMllZQThuL015MUYrQkFGdUpGcXlxNkIyR2xyVTN3VWlMU2czT0krd2xxbE5MWWVQVTR5a0MrQWc5bzU2eFpBamVjUTM4SDNWMXZqb0ppV0RUbDFQdVpMejd1QTgvTDI3ci9TVDBUVjNDT3EwdTFQY0dNem5tK0w3MGZUUkp2cm5KT1ozeGh4bThjWGtMVTJBQmd4UkpvbXR2ek1idDdkS0swVm1FR2x4b0h2cStmRDhKcE43MjBBcGR5UWdPK25taVlKNkZJWVcvMEpzVWx1a1RmbFNlMjVicWk3VCs0dkg1WVpscDlkMUxyaVN4M2JLelU9LS1Ya00wV3BocXpHWWZjd3NBRmVsRGtnPT0%3D--64c0d2063398d762d085de0b52d1ddfcbc00049e; path=/; HttpOnly";
    "X-Content-Type-Options" = nosniff;
    "X-Frame-Options" = SAMEORIGIN;
    "X-Meta-Request-Version" = "0.3.4";
    "X-Request-Id" = "80bedf3a-afe0-40d8-9b35-6925d9f98097";
    "X-Runtime" = "0.170927";
    "X-XSS-Protection" = "1; mode=block";
} })
Optional(Error Domain=com.alamofire.error Code=-1 "The operation couldn’t be completed. (com.alamofire.error error -1.)")
```

Maybe Alamofire can't parse `Optional(<>)` and that's why error is set?

Well, I just tried the above code without the `validate()` and it worked :open_mouth: ! What could this mean?

I would see this as a bug. Also had a `204` it fails on the validate function which is described as
> Validates that the response has a status code in the default acceptable range of 200...299, and that the content type matches any specified in the Accept HTTP header field.

@cnoon, could you please consider reopening this?

@allaire, you can replace the `validate()` with `validate(200..<300)` for now, since it would still be nice to validate that no error codes were returned. Alamofire breaks on the validation of the [Content Type](https://github.com/Alamofire/Alamofire/blob/0b8f2074988d28f56f93e4cefaed65e48623abff/Source/Validation.swift#L145), as it is empty in the server's response. It fails exactly [here](https://github.com/Alamofire/Alamofire/blob/0b8f2074988d28f56f93e4cefaed65e48623abff/Source/Validation.swift#L122) by default, because no content type has been specified in the server's response. 

Note [RFC2616 Section 7.2.1](http://tools.ietf.org/search/rfc2616#section-7.2.1) mentions a SHOULD(*not a MUST*) for this if there is a *content-body*, I believe it to be unnecessary to specify a content-type if there is no content(`204`), so I would see this incorrect behaviour of the default validation function of Alamofire.

I'm unable to provide a PR this week as I'm quite busy. I will either make one next week or if anyone else feels like picking this up, feel free to do so.

@MartinRogalla Ah, that makes sense @MartinRogalla ! Thanks for the follow up and for digging this a bit deeper. I guess this could be re-open then :)@cnoon

I am seeing this too. Seem like the correct behavior is that Alamofire should not throw an error if the return is 204 No Content. 

Okay I'm going to re-open this gents.

Could someone possibly help me out here and write some failing tests to make it easier to debug the issue? We're in the middle of pushing through some giant features for the `1.3.0` release and it would save me a TON of time if there were already some tests that were failing demonstrating the issue.

The `httpbin.org/status/:code` endpoint should be very helpful here.

Hey @allaire, @MartinRogalla and @Mistobaan! 

I just pushed up PR #598 that hopefully addresses this issue. I would REALLY appreciate it if you could test out this change to verify it does in fact fix your issue. Also, if you have any ideas on how I could add a test around this behavior I'd very much appreciate it.

Please redirect all further comments to PR #598 until we get this resolved.

Cheers 🍻

Closing this issue out since it has been resolved by PR #598. Cheers.

Is this code in production?

@joshuaziering Yes, these changes have been merged for quite a while. Please open a new issue if you think there's a bug with Alamofire or open a question on StackOverflow and tag `Alamofire` if you're having trouble getting your content validation to work.